<ion-item no padding>
  <ion-avatar item-start>
    <img src="assets/img/{{icon}}" width="30px" alt="Ionic logo">
  </ion-avatar>
  <h2>{{title}}</h2>
  <p>
    <small>{{jobDisplayName}}</small>
  </p>
</ion-item>
