<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content  padding>
  <div class="logo">
    <img src="assets/img/appicon3.png" alt="Ionic logo">
  </div>

  <form #loginForm="ngForm" novalidate *ngIf="true">
    <ion-list no-lines padding>
      <ion-item>
        <ion-label stacked color="primary">Your Jenkins url</ion-label>
        <ion-input [(ngModel)]="login.url" name="url" type="text" #url="ngModel" spellcheck="false" autocapitalize="off"
                   required>
        </ion-input>
      </ion-item>
      <p ion-text [hidden]="url.valid || submitted == false" color="danger" padding-left>
        Url is required
      </p>
      <ion-item>
        <ion-label stacked color="primary">Your Jenkins username</ion-label>
        <ion-input [(ngModel)]="login.username" name="username" type="text" #username="ngModel" spellcheck="false"
                   autocapitalize="off"
                   required>
        </ion-input>
      </ion-item>
      <p ion-text [hidden]="username.valid || submitted == false" color="danger" padding-left>
        Username is required
      </p>

      <ion-item>
        <ion-label stacked color="primary">Your Jenkins api-token</ion-label>
        <ion-input [(ngModel)]="login.password" name="password" type="password" #password="ngModel" required>
        </ion-input>
      </ion-item>
      <p ion-text [hidden]="password.valid || submitted == false" color="danger" padding-left>
        Password is required
      </p>
    </ion-list>

    <ion-row responsive-sm padding-left>
      <ion-col padding-left>
        <button ion-button color="dark" (click)="onLogin(loginForm)" type="submit">Access your Jenkins</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
