// Styles for all of the user pages:
// Login, Signup, Support

page-user {
  ion-content{
   background-color: white!important;
  }
  .logo {
    padding: 20px 0;
    min-height: 80px;
    text-align: center;

    img {
      width: 100px;
    }
  }

  .list {
    margin-bottom: 0;
  }
  scroll-content {
    display: flex;
    flex-direction: column;
  }

  ion-row {
    flex: 1;
  }
}
