<ion-card (click)="goToJobDetail();" >
  <ion-item color="status_{{job.color}}">
    <p>
      <strong>{{job.name}}</strong>
      <ion-icon *ngIf="job.color==='blue'" name="checkmark-circle"  float-end></ion-icon>
      <ion-icon *ngIf="job.color==='red'" name="close-circle"  float-end></ion-icon>
    </p>
  </ion-item>
</ion-card>
