<ion-tabs [selectedIndex]="mySelectedIndex" name="conference" color="white">
  <ion-tab [root]="tab1Root" tabTitle="Dashboard" tabIcon="desktop" tabUrlPath="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Account" tabIcon="contact"  tabUrlPath="home"></ion-tab>
  <!--<ion-tab [root]="tab3Root" tabTitle="Map" tabIcon="map"></ion-tab>-->
  <ion-tab [root]="tab3Root" tabTitle="About"  tabUrlPath="home" tabIcon="information-circle"></ion-tab>
</ion-tabs>
