<ion-header>
  <ion-navbar no-border-bottom color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="!!dashboard">
  <ion-item no-lines no-padding>
    <div text-center>
      <img src="assets/img/logo-title.png" class="logo-dashboard" alt="Ionic logo">
    </div>
  </ion-item>
  <ion-item no-lines no-padding>

    <h3  style="font-family: Noto Sans" text-center >Your Jenkins is connected! </h3>

    <h1 text-center="" *ngIf="auth.user">
      <ion-icon name="checkmark" color="SUCCESS" style="font-size:2em"></ion-icon>
    </h1>
  </ion-item>

  <ion-card>
    <ion-card-title>
      <p  style="font-family: Noto Sans" text-center> {{auth?.user?.url}}</p>
    </ion-card-title>
  </ion-card>

  <div *ngFor="let job of dashboard.jobs">
      <app-job [job]="job"></app-job>
  </div>
  </div>
  <spinner-component *ngIf="!dashboard"></spinner-component>

  <app-disclaimer></app-disclaimer>
</ion-content>
