<ion-card-content padding padding-top *ngFor="let build of fullBuilds" (click)="goToBuild(build?.number)">
  <h3>build <span class="dark">#{{build.number}}</span>
    <div>
      <span class="minidate">{{build.timestamp | date:'dd/MM/yyyy HH:mm'}}</span>
      <ion-icon *ngIf="build.result==='SUCCESS'" name="checkmark-circle" color="jenkins_green" float-end></ion-icon>
      <ion-icon *ngIf="build.result!=='SUCCESS'" name="close-circle" color="jenkins_red" float-end></ion-icon>
    </div>
  </h3>
</ion-card-content>
