<div padding>
  <p text-center>
    <small>
      All the images and logos used in this app are trademark & property of the awesome Jenkins project.</small>
  </p>
  <p text-center>
    <a href="https://jenkins.io/" color="light" target="_blank"> https://jenkins.io</a>
  </p>
  <div text-center>
    <ion-icon name="heart"></ion-icon>
  </div>
  <div text-center>
    <small> @freepowder13</small>
  </div>
</div>
