
<div *ngFor="let changes of build.changeSets" padding-left >
  <ion-card-content padding  padding-top="0" *ngFor="let item of changes.items" >
    <ion-item no-padding class="author">
      <ion-icon  name="contact"></ion-icon> {{item.author.fullName}}
      <p><small>{{item.authorEmail}} </small></p>
    </ion-item>
    <ion-item no-padding class="author-changes">
      <h4> date</h4>
      <p><strong><small>{{item.date| date:'medium'}}</small></strong></p>
      <h4> commit</h4>
      <p><strong><small>{{item.commitId}}</small></strong></p>
      <h4> message</h4>
      <p><strong><small>{{item.msg}}</small></strong></p>
      <h4> files</h4>
      <div *ngFor="let file of item.paths" >
        <p><strong><small>
          {{file.file}}</small></strong>
        </p>
      </div>
    </ion-item>
  </ion-card-content>
</div>
