
build-changes-component{
  .author {
    * {
      color: cornflowerblue;
    }
  }
  .author-changes{
    h4{
      font-size:1.1em;
      color:cadetblue;
      margin-bottom:0;
    },
  p{
    padding-left:10px;
    font-size:1em;
    margin-top:0;
    margin-bottom:1em;
  }
  }
}
