<ion-header>

  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="about-header">
    <img src="assets/img/appicon2.png" alt="ionic logo">
  </div>
  <div padding class="about-info">
    <h4>Jenkins Mobile </h4>
    <div padding>
      <h6>
        Ionic + Jenkins REST api.
      </h6>
      <p>
        This <b>mobile-app</b> allows you to connect to your Jenkins CI server.<br/><br/>
        <span>
      <b>Dashboard </b> view, where you can see your jenkins jobs<br/>
      <b>Job </b> view, where you can see latest health reports and build statuses<br/>
      <b>Build </b> view, where you can see details of the build, commits, logs etc...

      </span>
      </p>
      <p text-left>The app uses <b>3 credentials</b>:</p>

      <p text-left>  <b>1. url</b> your Jenkins url</p>
      <p text-left>  <b>2. username</b> your Jenkins username</p>
      <p text-left>  <b>3. apiToken</b> your Jenkins apiToken</p>
      <p>
        This app store your credentials in localStorage and will append authentication headers (once you logged in) to every request
        making use of the <b>Jenkins REST api </b> to fetch your data.
      </p>
      <p>
        You will need to enable CORS in your Jenkins with the cors filter plugin in order to make this thing work.
      </p>
    </div>


  </div>
</ion-content>
