
<ion-card-content padding padding-top>
  <p text-center>
    <img src="assets/img/{{icon}}" width="32px" alt="Jenkins Health Icon">
  </p>
  <h3> {{description}}</h3>
</ion-card-content>
<div float-end padding class="updates">
  <span>Last update:</span> {{lastUpdate | date:'dd/MM/yyyy HH:mm'}}
</div>
