<ion-split-pane>

  <!-- logged out menu -->
  <ion-menu id="loggedOutMenu" [content]="content">

    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <!--<ion-list>-->
        <!--<ion-list-header>-->
          <!--Navigate-->
        <!--</ion-list-header>-->
        <!--<button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">-->
          <!--<ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>-->
          <!--{{p.title}}-->
        <!--</button>-->
      <!--</ion-list>-->

      <ion-list>
        <ion-list-header>
          Account
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of loggedOutPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          FAQ
        </ion-list-header>
        <button ion-item menuClose (click)="openTutorial()">
          <ion-icon item-start name="hammer"></ion-icon>
          How To
        </button>
      </ion-list>

      <app-disclaimer></app-disclaimer>
    </ion-content>

  </ion-menu>

  <!-- logged in menu -->
  <ion-menu id="loggedInMenu" [content]="content">

    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <!--<ion-list>-->
        <!--<ion-list-header>-->
          <!--Navigate-->
        <!--</ion-list-header>-->
        <!--<button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">-->
          <!--<ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>-->
          <!--{{p.title}}-->
        <!--</button>-->
      <!--</ion-list>-->

      <ion-list>
        <ion-list-header>
          Your Jenkins
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Tutorial
        </ion-list-header>
        <button ion-item menuClose (click)="openTutorial()">
          <ion-icon item-start name="hammer"></ion-icon>
          Show Tutorial
        </button>
      </ion-list>

    </ion-content>

  </ion-menu>

  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>

</ion-split-pane>
