<ion-item no-lines>
  <p>
    {{status === 'blue_anime' ? 'building...' : 'build status'}}
    <ion-icon     *ngIf="status === 'blue'"          name="checkmark-circle" color="jenkins_green" float-end></ion-icon>
    <ion-icon     *ngIf="status === 'red'"           name="close-circle" color="jenkins_red" float-end></ion-icon>
    <ion-spinner name="crescent" *ngIf="status === 'blue_anime'" float-end></ion-spinner>
  </p>
</ion-item>


