<ion-header no-border>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">Skip</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager>

    <ion-slide>
      <img src="assets/img/jenkins-voltron.png" style="max-width:90px"/>
        <h2 class="slide-title">
          <b>Configure Your Jenkins</b>
        </h2>
        <ion-card>
          <ion-item color="mygrey">
            <h2> 1. Download Jenkins Plugin</h2>
          </ion-item>
          <ion-card-content padding>
            <p text-left padding>Go <b>Manage Jenkins > Manage Plugins </b> and search for cors filter plugin and install.</p>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-item color="mygrey">
            <h2> 2. Configure Jenkins Plugin</h2>
          </ion-item>
          <ion-card-content>
            <p text-left padding>Go <b>Manage Jenkins > System Configuration </b> and enable cors filter plugin.</p>
          </ion-card-content>
        </ion-card>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/appicon.png" style="max-width:100px"/>
      <h2 class="slide-title">
        <b>Access Your Jenkins</b>
      </h2>
      <ion-card>
        <ion-item color="mygrey">
          <h2> 1. Get Jenkins API token</h2>
        </ion-item>
        <ion-card-content>
          <p text-left padding>Go <b>'Your username' > Settings </b> and get your token.</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item color="mygrey">
          <h2> 2. Login</h2>
        </ion-item>
        <ion-card-content>
          <p text-left padding>  Login with 3 credentials</p>
          <div padding-left>
            <p text-left>  <b>1. url</b> your Jenkins url</p>
            <p text-left>  <b>2. username</b> your Jenkins username</p>
            <p text-left>  <b>3. apiToken</b> your Jenkins apiToken</p>
          </div>
          <p text-left padding>The app will store your credentials in localStorage and will append authentication headers to every request
            making use of the <b>Jenkins REST api </b> to fetch your data.</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/appicon2.png" style="max-width:100px"/>

      <h2 class="slide-title">
        <b>Start Using App</b>
      </h2>
      <ion-card>
      <ion-item color="mygrey">
        <h2> 1. Dashboard View</h2>
      </ion-item>
      <ion-card-content>
        <p text-left padding>You can see your jobs with colors indicating build status.</p>
      </ion-card-content>

        <ion-item color="mygrey">
          <h2> 2. Job View</h2>
        </ion-item>
        <ion-card-content>
          <p text-left padding>You can see the job details, health report, latest builds status and trigger a build.</p>
        </ion-card-content>

        <ion-item color="mygrey">
          <h2> 3. Build View</h2>
        </ion-item>
        <ion-card-content>
          <p text-left padding>You can see the build details, commits and logs</p>
        </ion-card-content>

      </ion-card>

      <button ion-button icon-end large clear (click)="startApp()">
      Get started
      <ion-icon name="arrow-forward"></ion-icon>
      </button>

    </ion-slide>

    <!--<ion-slide>-->
      <!--<img src="assets/img/ica-slidebox-img-4.png" class="slide-image"/>-->
      <!--<h2 class="slide-title">Ready to Play?</h2>-->
      <!--<button ion-button icon-end large clear (click)="startApp()">-->
        <!--Continue-->
        <!--<ion-icon name="arrow-forward"></ion-icon>-->
      <!--</button>-->
    <!--</ion-slide>-->

  </ion-slides>
</ion-content>
