
page-tutorial {

  ion-content{
   // background-color: white!important;
  }

  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    //max-height: 50%;
    //max-width: 80%;
    //margin: 16px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 10px;
    font-size: 0.9em;
    line-height: 1.2;
    color: #60646B;

    b {
      color: #000000;
    }
  }

}
