spinner-component{

  .spinner-wrap{
    padding-top:4em!important;
  }

  ion-spinner * {
    width: 50px;
    height: 50px;
    stroke: #488aff!important;
    fill: #488aff;
    left:-10px!important
  }
}
