<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding-top text-center *ngIf="user">
    <img src="assets/img/appicon2.png" class="img-account">
    <!--<h2>{{user.username}}</h2>-->
    <ion-list padding no-lines style="margin-bottom: 0;padding-bottom:0">
    <ion-item>
      <ion-label color="primary" stacked> Url</ion-label>
      <ion-input #url [(ngModel)]="user.url" type="text" placeholder="http://ci.mycompany.io" (ionBlur)="handleChanges($event,'url')"></ion-input>
    </ion-item>
      <ion-item>
        <ion-label color="primary" stacked> Username</ion-label>
        <ion-input #username [(ngModel)]="user.username" type="text" placeholder="jenkins username" (ionBlur)="handleChanges($event,'username')"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked> ApiToken</ion-label>
        <ion-input #token [(ngModel)]="user.apitoken" type="password" placeholder="jenkins apitoken" (ionBlur)="handleChanges($event,'token')"></ion-input>
      </ion-item>
    </ion-list>

    <ion-row padding-left padding-right >

      <div padding-left padding-right>
        <ion-col padding-left col-12>
          <button ion-button color="dark" (click)="logout()" type="button" block>Delete credentials and logout</button>
        </ion-col>
        <ion-col padding-left  >
          <div small >
            <span color="google">
              <small>* After deleting your credentials from localStorage you will be automatically logged out of the app.</small>
            </span>
          </div>
        </ion-col>
      </div>

    </ion-row>

    <!--<ion-list inset>-->
      <!--<button ion-item (click)="updatePicture()">Update Picture</button>-->
      <!--<button ion-item (click)="changeUsername()">Change Username</button>-->
      <!--<button ion-item (click)="changePassword()">Change Password</button>-->
      <!--<button ion-item (click)="support()">Support</button>-->
      <!--<button ion-item (click)="logout()">Logout</button>-->
    <!--</ion-list>-->
  </div>
</ion-content>
