

<ion-card-content padding padding-top [hidden]="!jobNumber">
  <h3> {{title}}</h3>
  <p>
    <strong>#{{ jobNumber || ' no info'}}</strong>
    <ion-icon *ngIf="color==='blue'" name="checkmark-circle" color="jenkins_green" float-end></ion-icon>
    <ion-icon *ngIf="color==='red'" name="close-circle" color="jenkins_red" float-end></ion-icon>
    <ion-icon *ngIf="color==='orange'" name="close-circle" color="myorange" float-end></ion-icon>
    <ion-icon *ngIf="color==='light_blue'" name="checkmark-circle" color="twitter" float-end></ion-icon>
    <ion-spinner name="crescent" *ngIf="color === 'blue_anime'" float-end></ion-spinner>
  </p>
</ion-card-content>
