<ion-header>
  <ion-navbar color="{{headerColor}}" no-lines="">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="job">Job</ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <job-subheader-component [jobName]="job?.displayName" [subheaderColor]="subheaderColor"></job-subheader-component>
  <job-status-component [status]="job?.color"></job-status-component>
  <h2 text-center *ngIf="job?.color==='blue_anime'">
    # {{job?.nextBuildNumber-1}}
  </h2>
  <div *ngIf="!!job">


    <ion-card no-padding class="build-report" >

      <job-header-component [icon]="'ninjenkins.svg'"
                            [title]="'Health Report'"
                            [jobDisplayName]="job.displayName"></job-header-component>

      <ion-card-content no-padding></ion-card-content>

      <job-health-component [icon]="job?.healthReport[0].iconUrl"
                            [description]="job?.healthReport[0].description"
                            [lastUpdate]="lastUpdate"></job-health-component>
    </ion-card>

    <ion-card no-padding class="build-report">
      <job-header-component [icon]="'cap-jenkins.svg'"
                            [title]="'Build Report'"
                            [jobDisplayName]="job.displayName"></job-header-component>

      <ion-card-content no-padding></ion-card-content>

      <job-build-report-component [title]="'Last Build'"
                                  [jobNumber]="job.lastBuild?.number"
                                  [color]="job.color"
                                  (click)="goToBuild(job.lastBuild?.number)"></job-build-report-component>

      <job-build-report-component [title]="'Last Successful Build'"
                                  [jobNumber]="job.lastSuccessfulBuild?.number"
                                  [color]="'blue'"
                                  (click)="goToBuild(job.lastSuccessfulBuild?.number)"></job-build-report-component>

      <job-build-report-component [title]="'Last Unsuccessful Build'"
                                  [jobNumber]="job.lastUnsuccessfulBuild?.number"
                                  [color]="'red'"
                                  (click)="goToBuild(job.lastUnsuccessfulBuild?.number)"></job-build-report-component>

      <job-build-report-component [title]="'Last Stable Build'"
                                  [jobNumber]="job.lastStableBuild?.number"
                                  [color]="'blue'"
                                  (click)="goToBuild(job.lastStableBuild?.number)"></job-build-report-component>

      <job-build-report-component [title]="'Last Unstable Build'"
                                  [jobNumber]="job.lastUnstableBuild?.number"
                                  [color]="'orange'"
                                  (click)="goToBuild(job.lastUnstableBuild?.number)"></job-build-report-component>

      <job-build-report-component [title]="'Last Failed Build'"
                                  [jobNumber]="job.lastFailedBuild?.number"
                                  [color]="'red'"
                                  (click)="goToBuild(job.lastFailedBuild?.number)"></job-build-report-component>

      <job-build-report-component [title]="'Last Completed Build'"
                                  [jobNumber]="job.lastCompletedBuild?.number"
                                  [color]="'light_blue'"
                                  (click)="goToBuild(job.lastCompletedBuild?.number)"></job-build-report-component>

      <last-update [lastUpdate]="lastUpdate"></last-update>
    </ion-card>

    <ion-card no-padding class="build-report" *ngIf="job.builds.length>0">
      <job-header-component [icon]="'appicon.svg'"
                            [title]="'Latest builds'"
                            [jobDisplayName]="job.displayName"></job-header-component>
      <ion-card-content no-padding></ion-card-content>
      <latest-job-component [job]="job"></latest-job-component>
      <last-update [lastUpdate]="lastUpdate"></last-update>
    </ion-card>
  </div>

  <spinner-component *ngIf="!job"></spinner-component>

  <ion-fab right bottom *ngIf="job && job?.buildable && job?.color!=='blue_anime' ">
    <button ion-fab color="dark" (click)="buildJob()">Build</button>
  </ion-fab>
</ion-content>
