page-job {
  ion-content {
    background-color: #f2f2f2 !important;
  }
  .logo {
    padding: 10px 0;
    min-height: 100px;
    text-align: center;

    img {
      max-width: 80px;
    }
  }
  .toolbar-background {
    border: none !important;
  }
  .build-report {
    h3 {
      color: #999 !important;
      font-weight: bold !important;
    }
    ion-card-content {
      border-bottom: 1px solid #f2f2f2
    }
  }
  ion-avatar[item-start] {
    margin: 0 !important
  }


}
